#div50{
width:100%;
height:100%;
background-color:white;
}

#div1
{ 
padding:10px;
width:960px;
background-color:white;
}

#header
{
width:100%;
height:20%;
}

#topid
{
width:100%;
height:110px;
}

#logoid
{
width:30%;
 height:100%;
}
#loginLogoId
{
	width: 40%;
}
#p01
{
text-align:justify;
width:50%;
height:50%;
float:left;
}
#hmenu
{
padding:20px;
float:right;
font:14px;
font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
color:#6C6C6C;
height:60px;
width:35%;
height:100%;
word-spacing:30px;
}
#p01
{
text-align:justify;
float:right;
width:45%;
height:100%;

}
#about_content1
{
height:50%;
width:100%;
}


#aboutimg
{

float:left;
}
#formarea
{
float:left;
height:60%;
width:100%;
padding-left:50px;
padding-bottom:10px;
padding-top:30px;
}

#contactimg
{
height:20%;
width:40%;
}
#main{
	width:auto;
	height:850px;
	overflow-x: scroll;
	white-space: nowrap;
}
#contactarea
{
align:center;
width:80%;
height:70%;
align:center;
}

#regmain
{
width:100%;
height:80%;
}

#slidesection
{
height:80%;
width:100%;
}
#footer
{
text-align:center;
clear:both;
}

#leftSearchbar
{
	float:left;
	width: 25%;
	border: 1px solid #000000;
}
#rightSearchbar
{
	width: 70%;
	float:right;
	border: 1px solid #000000;
	min-height: 100px;
}
#searchContainer
{
	clear:both;
	width:100%;
	height: 70%;
}
li
{

 display: inline;
}

ul
 {
    list-style-type: none; 
}
a
{
color:#0C8DA6;
}
#user1 {
	width:80px;
	height:80px;
	padding-bottom: 10px;
}
#userText1 {
	flex:2;
}
#result1 {
	display:flex;
}
#userText2 {
	flex:2;
}
#result2 {
	display:flex;
}
#userText3 {
	flex:2;
}
#result3 {
	display:flex;
}
#searchLabel {
	float:left;
}

#contactmain
{
height:80%;
width:100%;

}